<!DOCTYPE html>
<html lang="en" ng-controller="PageController as pageCtrl">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Console POC">
        <meta name="author" content="Dieter Randolph">
        <title>{{pageCtrl.title}}</title>

        <base href="/" />

        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="./css/app.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>
    <body id="app-body">

        <!-- Fixed navbar -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">POC</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li ng-class="{active:pageCtrl.isActive('console')}"><a href="/console" ng-click="pageCtrl.setActive('console')">Console</a></li>
                        <li ng-class="{active:pageCtrl.isActive('help')}"><a href="/help" ng-click="pageCtrl.setActive('help')">Help</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>

        <div class="container">
            <ng-view></ng-view>
        </div>

        <footer class="footer">
            <div class="container">
                <p class="text-muted">&copy;2015 Apigee Corp.  All rights and most lefts reserved.</p>
            </div>
        </footer>

        <ng-include src="'./partials/modal.html'"></ng-include>

        <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
        <script src="./js/loader.min.js"></script>
    </body>
</html>