<div class="row visible-xs">
    <div class="col-md-12">
        <form>
            <div class="form-group">
                <label for="method_pulldown">Methods</label>
                <select class="form-control" id="method_pulldown"></select>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-sm-4 hidden-xs">
        <div id="method_list" class="list-group"></div>
    </div>
    <div class="col md-8 col-sm-8">
        <form class="form-horizontal col-md-12" id="console_request_form" action="#">
            <div class="form-group">
                <label for="request_url">Request URL</label>
                <div class="input-group">
                    <span class="input-group-addon text-warning" id="request_method">METHOD</span>
                    <input type="text" class="form-control" id="request_url" placeholder="URL">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button">Go!</button>
                    </span>
                </div>
            </div>
        </form>
        <div role="tabpanel" class="row col-md-12">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#request_information_tab" aria-controls="request_information_tab" role="tab" data-toggle="tab">Information</a></li>
                <li role="presentation"><a href="#request_parameters_tab" aria-controls="request_parameters_tab" role="tab" data-toggle="tab">Parameters</a></li>
                <li role="presentation"><a href="#request_tab" aria-controls="request_tab" role="tab" data-toggle="tab">Request</a></li>
                <li role="presentation"><a href="#response_tab" aria-controls="response_tab" role="tab" data-toggle="tab">Response</a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="request_information_tab">
                    <dl class="dl-horizontal"></dl>
                </div>
                <div role="tabpanel" class="tab-pane" id="request_parameters_tab">
                    <form id="request_form"></form>
                </div>
                <div role="tabpanel" class="tab-pane" id="request_tab">
                    <form>
                        <div class="form-group">
                            <label for="request_headers">Header</label>
                            <textarea class="form-control" id="request_headers" rows="5"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="request_body">Body</label>
                            <textarea class="form-control" id="request_body" rows="12"></textarea>
                        </div>
                    </form>
                </div>
                <div role="tabpanel" class="tab-pane" id="response_tab">
                    <form>
                        <div class="form-group">
                            <label for="response_headers">Header</label>
                            <textarea class="form-control" id="response_headers" rows="5"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="response_body">Body</label>
                            <textarea class="form-control" id="response_body" rows="12"></textarea>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>